# ===================================
# CONFIGURATION DE LA BASE DE DONNEES
# ===================================
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-xxxx.eu-central-1.aws.neon.tech/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=ton_utilisateur
SPRING_DATASOURCE_PASSWORD=ton_mot_de_passe

# ===================================
# CONFIGURATION JWT
# ===================================
SECURITY_JWT_SECRET_KEY=change_moi_avec_une_chaine_de_256_bits_au_moins
# 8 heures en millisecondes
SECURITY_JWT_EXPIRATION_TIME=change_moi_pour_parametrer_le_temps_d_authentification

# ===================================
# CONFIGURATION DE L'APPLICATION
# ===================================
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:5173