.missionPageContainerStyle {
    width: 90vw;
    min-height: fit-content;
    padding: 15px;
    border: var(--border1);
    border-radius: var(--border-radius1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.missionPageContainerLeftContainerStyle,
.missionPageContainerRightContainerStyle {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
}

.missionPageMissionTitleStyle {
    letter-spacing: var(--letter-spacing1);
    color: var(--fontColor4);
    font-weight: var(--font-weight1);
    font-size: var(--font-size2);
}

.missionPageObjectifStyle {
    font-weight: var(--font-weight2);
    font-size: var(--font-size3);
    color: var(--fontColor3);
}

.missionPageDescriptionContainer {
    margin-top: 30px;
}

.missionPageDescriptionTitleStyle {
    margin-bottom: 10px;
    letter-spacing: var(--letter-spacing1);
    color: var(--fontColor4);
    font-weight: var(--font-weight1);
    font-size: var(--font-size9);
}

.missionPageDescriptionStyle {
    letter-spacing: var(--letter-spacing1);
    color: var(--fontColor3);
    font-weight: var(--font-weight3);
    font-size: var(--font-size9);
}

.missionPageMaterialsContainerStyle {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.missionPageMaterialsTitle {
    text-align: center;
    margin: 75px auto 10px;
    letter-spacing: var(--letter-spacing1);
    color: var(--fontColor4);
    font-weight: var(--font-weight1);
    font-size: var(--font-size9);
}

.missionPageMaterialItemsContainerStyle {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 20px;
    border: var(--border1);
    border-radius: var(--border-radius1);
}

.missionPageContainerRightBackgroundStyle{
    margin: 50px 0;
    background: var(--backgroundColor14);
}

.missionPageContainerRightContainerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    margin: auto;
    gap: 10px;
}



.missionPageTasksTitleContainerStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    color: var(--fontColor4);
    font-weight: var(--font-weight1);
}

.missionPageTasksnumber {
    background: var(--backgroundColor13);
    width: fit-content;
    font-size: var(--font-size3);
    letter-spacing: var(--letter-spacing1);
    padding: 5px 10px;
    border-radius: var(--border-radius2);
}


.missionPageBackgroundDisplay{
    position: relative;
}


/* Responsive */

@media (max-width: 1280px) {

}

@media (max-width: 1023px) {
  .missionPageContainerStyle {
    grid-template-columns: 1fr;
  }

  .missionPageContainerLeftContainerStyle,
  .missionPageContainerRightBackgroundStyle {
    display: contents;
  }

  
  .missionPageTitleAndGoalContainer {
    order: 1;
  }

  .missionPageDescriptionContainer {
    order: 2;
  }

  .missionPageContainerRightContainerStyle {
    margin: 50px auto;
    width:100%;
    background: var(--backgroundColor14);
    order: 3;
  }

  .missionPageMaterialsContainerStyle {
    order: 4;
  }
}

@media (max-width: 767px) {

}