.iconeStyle {
    height: 20px;
    margin-left: auto;
    fill: var(--fontColor5);
}

.iconeStyle2 {
    height: 20px;
    margin: auto;
    fill: var(--fontColor5);
}

.iconeStyle3 {
    height: 20px;
    margin-left: 10px;
    fill: var(--fontColor5);
}

.iconeStyle4 {
    background: rgba(0, 0, 0, 0.233);
    padding: 10px;
    height: 45px;
    border-radius: var(--border-radius2);
    width: fit-content;
    fill: var(--fontColor7);
}