.missionTagStyle {
    padding: 10px;
    background: var(--backgroundColor4);
    border-radius: var(--border-radius1);
    color: var(--fontColor2);
    display: flex;
    align-items: center;
    font-size: var(--font-size1);
}