.onboardingMissionsStyle{
    width: 400px;
    background: var(--itemColor1);
    border-radius: 5px;
    padding: auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

