.homePageContainer {
    width: 1080px;
    display: grid;
    grid-template:
    "A A A B" 1fr 
    "C C D D" 1fr / 2fr 3fr 1fr 2fr
    ;
    height: 670px;
}

.homePageProjectTitleContainer {
    margin: var(--cel-margin);
    border: var(--border1);
    border-radius: var(--border-radius1);
    padding: var(--cel-padding);
    grid-area: A;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.homePageProjectInfoContainer {
    display: flex;
    align-items: baseline;
}

.homePageFigureContainer {
    margin: var(--cel-margin);
    border: var(--border1);
    border-radius: var(--border-radius1);
    padding: var(--cel-padding);
    grid-area: B;
}

.homePageMainContainer {
    margin: var(--cel-margin);
    gap: var(--cel-margin);
    grid-area: C;
    display: flex;
}

.secondaryThumbnailsContainer {
    margin: var(--cel-margin);
    gap: var(--cel-margin);
    grid-area: D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}