@import './colors.css';

.button {
    --padding1: 5px 10px;
    --padding2: 5px 30px;
    --padding3: 5px 20px 6px 21px;
    --border-radius1: 20px;
    --margin-top: 10px;
}

.btnStyle1 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle2 {
    color: var(--fontColor1);
    background-color: var(--btnColor2);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle3 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    margin-top: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
}

.btnStyle4 {
    color: var(--fontColor2);
    background-color: var(--btnColor4);
    margin-top: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
    font-size: var(--font-size1);
}

.btnStyle5 {
    color: var(--fontColor2);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
    border: 1px solid black;
    flex-basis: 100%;
    font-size: var(--font-size1);
}

.plusBtnStyle1 {
    font-size: 1.5rem;
    color: var(--fontColor1);
    background-color: var(--btnColor3);
    padding: var(--padding3);
    border-radius: var(--border-radius1);
    display: block;
    text-align: center;
}