@import './colors.css';

.button {
    --padding1: 5px 10px;
    --padding2: 5px 30px;
    --padding3: 5px 20px 6px 21px;
    --padding4: 10px 30px;
    --padding5: 15px 50px;
    --padding6: 10px 40px;
    --padding7: 15px;
    --border-radius1: 20px;
    --border-radius2: 50px;
    --margin-top: 10px;
}

.btnStyle1 {
    color: var(--fontColor4);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle2 {
    color: var(--fontColor1);
    background-color: var(--btnColor2);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle3 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    margin: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
}

.btnStyle4 {
    color: var(--fontColor2);
    background-color: var(--btnColor4);
    margin-top: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
    font-size: var(--font-size1);
}

.btnStyle5 {
    color: var(--fontColor4);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
    border: 1px solid var(--fontColor4);
    flex-basis: 100%;
    font-size: var(--font-size1);
}

.btnStyle6 {
    color: var(--fontColor4);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
    border: 1px solid var(--fontColor4);
    min-width: 230px;
    display: block;
    margin: auto;
    font-size: var(--font-size1);
}

.btnStyle7 {
    color: var(--fontColor4);
    padding: var(--padding4);
    border: var(--border2);
    border-radius: var(--border-radius2);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle8 {
    color: var(--fontColor1);
    background-color: var(--btnColor2);
    padding: var(--padding4);
    border-radius: var(--border-radius2);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle9 {
    color: var(--fontColor1);
    background-color: var(--btnColor2);
    margin: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
}

.btnStyle10 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    margin: var(--margin-top);
    padding: var(--padding5);
    border-radius: var(--border-radius2);
    font-size: var(--font-size3);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle11 {
    color: var(--fontColor2);
    background-color: var(--btnColor4);
    margin: var(--margin-top);
    padding: var(--padding5);
    border: var(--border1);
    border-radius: var(--border-radius2);
    font-size: var(--font-size3);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle12 {
    color: var(--fontColor4);
    background-color: var(--btnColor4);
    padding: var(--padding6);
    border: var(--border1);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle13 {
    color: var(--fontColor4);
    background-color: var(--backgroundColor13);
    padding: var(--padding4);
    border: var(--border2);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
    text-transform: lowercase;
}

.btnStyle14 {
    color: var(--fontColor4);
    background-color: var(--btnColor4);
    padding: var(--padding7);
    border: var(--border1);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
    text-transform: uppercase;
}

.btnStyle15 {
    width: fit-content;
    color: var(--fontColor4);
    background-color: var(--backgroundColor13);
    border: var(--border2);
    border-radius: var(--border-radius1);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
    text-transform: uppercase;
    overflow: hidden;
}

.btnStyle16 {
    color: var(--fontColor1);
    background-color: var(--btnColor5);
    margin: var(--margin-top);
    padding: var(--padding4);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    letter-spacing: var(--letter-spacing1);
    width: max-content;
}

.btnStyle17 {
    color: var(--fontColor2);
    background-color: var(--btnColor4);
    margin: var(--margin-top);
    padding: var(--padding4);
    border: var(--border1);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    letter-spacing: var(--letter-spacing1);
}

.btnStyle18 {
    width: fit-content;
    color: var(--fontColor4);
    background-color: var(--backgroundColor5);
    border: var(--border3);
    border-radius: var(--border-radius1);
    font-size: var(--font-size1);
    font-weight: var(--font-weight2);
    letter-spacing: var(--letter-spacing1);
    text-transform: uppercase;
}

.btnStyle19 {
    width: fit-content;
    color: var(--fontColor4);
    background-color: var(--backgroundColor17);
    border: var(--border2);
    border-radius: var(--border-radius1);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
    text-transform: uppercase;
}

.btnStyle20 {
    color: var(--fontColor4);
    background-color: var(--btnColor4);
    padding: var(--padding7);
    border: var(--border1);
    border-radius: var(--border-radius2);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    letter-spacing: var(--letter-spacing1);
    text-transform: uppercase;
    width: 100%;
}

.plusBtnStyle1 {
    font-size: 1.5rem;
    color: var(--fontColor1);
    background-color: var(--btnColor3);
    padding: var(--padding3);
    border-radius: var(--border-radius1);
    display: block;
    text-align: center;
}