.button {
    --padding1: 5px 10px;
    --padding2: 5px 30px;
    --border-radius1: 20px;
    --margin-top: 10px;
}

.btnStyle1 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle2 {
    color: var(--fontColor1);
    background-color: var(--btnColor2);
    padding: var(--padding1);
    border-radius: var(--border-radius1);
}

.btnStyle3 {
    color: var(--fontColor1);
    background-color: var(--btnColor1);
    margin-top: var(--margin-top);
    padding: var(--padding2);
    border-radius: var(--border-radius1);
}