:root {
    /* Light theme */
    --background-light-01: #e8dede;
    --background-light-02: #e6bcbc;
    --color-dark-01: #3c3838;

    /* Dark theme */
    --background-dark-01: #3c3838;
    --background-dark-02: #8e8484;
    --color-dark-01: #e8dede;

    --containerColor1: #e7e0ec;

    --inputColor1: #e8def8;

    --btnColor1: #6750a4;
    --btnColor2: #ad9ed7;

    --fontColor1: whitesmoke;
}