:root {
    /* Light theme */
    --background-light-01: #e8dede;
    --background-light-02: #e6bcbc;
    --color-dark-01: #3c3838;

    /* Dark theme */
    --background-dark-01: #3c3838;
    --background-dark-02: #8e8484;
    --color-dark-01: #e8dede;
}