:root {
    /* Light theme */
    --background-light-01: #e8dede;
    --background-light-02: #e6bcbc;
    --color-dark-01: #3c3838;

    /* Dark theme */
    --background-dark-01: #3c3838;
    --background-dark-02: #8e8484;
    --color-dark-01: #e8dede;
    
    /* Background */
    --backgroundColor1: #e1dbf0;
    --backgroundColor2: #fdd2d8;
    --backgroundColor3: #fca4aebe;
    
    /* Item */
    --itemColor1: #f5d8ff;
    
    /* Container */
    --containerColor1: #e7e0ec;
    
    /* Input */
    --inputColor1: #e8def8;
    
    /* Button */
    --btnColor1: #6750a4;
    --btnColor2: #ad9ed7;
    --btnColor3: #957bdd;
    --btnColor4: whitesmoke;
    
    /* Font color */
    --fontColor1: whitesmoke;
    --fontColor2: black;

    /* Font Size */
    --font-size1: 0.6rem;
}