.inputItemStyle {
    background: var(--backgroundColor7);
    border-radius: var(--border-radius2);
    height: 40px;
    width: 100%;
}

.inputItemStyle2 {
    background: var(--backgroundColor7);
    border-radius: var(--border-radius2);
    height: 40px;
    width: fit-content;
    padding: 5px 15px;
    text-align: center;
}
.inputItemStyle3 {
    background: var(--backgroundColor5);
    border: var(--border1);
    border-radius: var(--border-radius1);
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    text-align: center;
}