.inputContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    width: 75%;
}

.inputContainerStyle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin-top: 15px; */
    width: 75%;
}

/* Responsive */

@media (max-width:1280px) {
}

@media (max-width:1023px) {
    .inputContainerStyle {
        width: 90%;
    }
}


@media (max-width:767px) {
    .inputContainerStyle {
        width: 150%;
    }
}