.onboardingProgressionBarWrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.onboardingProgressionBarStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 60%;
}

.stepNumberContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--fontColor3);
  background-color: transparent;
  color: var(--fontColor3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.3s ease 0.3s, color 0.3s ease 0.3s, border-color 0.3s ease;
}


.stepContainer.is-active .stepNumberContainer {
  background-color: var(--fontColor3);
  color: var(--fontColor1);
}

.segment {
  flex: 1;
  height: 4px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.segment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--fontColor3);
  transition: width 0.4s ease-in-out;
}

.segment.filled::before {
  width: 100%;
}