.formStyle {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-height: 0;
    background: transparent;
    gap : 1vh;
}

.formStyle2 {
    margin: 10px auto auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-height: 0;
    background: transparent;
}

.formStyle3 {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* min-height: 0; */
    background: white;
    /* gap : 1vh; */
    border-radius: var(--border-radius2);
}