.formStyle {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: transparent;
    gap : 1vh;
}
