.secondaryThumbnail {
    --fontColor1: whitesmoke;
}

.secondaryThumbnailStyle {
    height: 100%;
    padding: var(--cel-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
    border: var(--border1);
    border-radius: var(--border-radius1);
    color: var(--fontColor2);
    font-size: var(--font-size3);
}

.secondaryThumbnailTitleStyle{
    font-weight: var(--font-weight1);
    color: var(--fontColor4);
}