.missionThumbnailContainerStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    border: var(--border1);
    border-radius: var(--border-radius1);
    padding: var(--cel-padding);
}

.missionThumbnailTitleContainerStyle{
    display: flex;
}