.missionTagsContainer {
    --backgroundColor1: #eae1ff;
}

.missionTagsContainerStyle {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--backgroundColor1);
}

.missionTagsContainerStyle > :last-child {
    flex-basis: 100%;
    text-align: center;
}