.buttonsContainerStyle {
    margin-top: 3vh;
    display: flex;
    gap: 10px;
}

.buttonsContainerStyle2 {
    margin-top: 2vh;
    display: flex;
    gap: 10px;
}

.buttonsContainerStyle3 {
    display: flex;
    gap: 10px;
}